<table class="table table-sm">
  <thead>
    <tr>
       <th scope="col">Level</th>
      {{#each categories}}
        <th scope="col">{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
      {{#each levels}}
        <tr>
          <td>{{label}}</td>
          {{#each rank}}
            <td>{{this}}</td>
          {{/each}}
        </tr>
      {{/each}}
  </tbody>
</table>